<div class="container-fluid">
	<div class="row">

		<div class="image-background">
			<div class="hero">	
				<div class="logo-header">
					<span class="logo">
						<%= image_tag "docdocpng.png", class: "dash-logo-img" %>
					</span>
					<br>
					<br>
				</div>

				<div class="search-bar-box">
					<form action="/specialists">
						<input class="js-search-bar dash-srch-bar" type="text" name="search-bar" placeholder="Search conditions">
					</form>
				</div>
				<br>
				<div class="phrase">
					<em>
						Your Comprehensive Doctor Search
					</em>
				</div>
			</div>
		</div>	
	</div>
</div>
