<div class="container-fluid">
	<div class="row">

		<div class="image-background">
			<div class="hero">	
				<div class="logo-header">
					<h1 class="logo">
						Doc Doc,<br>Who's there?
					</h1>
					<br>
					<br>
				</div>

				<div class="search-bar-box">
					<form action="/specialists">
						<input class="js-search-bar dash-srch-bar" type="text" name="search-bar" placeholder="Search conditions">
					</form>
				</div>
				<br>
				<div class="phrase">
					<em>
						Local doctor search when it is your turn to take care of them!
					</em>
				</div>
			</div>
		</div>	
	</div>	
</div>	
