<div class="container-fluid">
	<div class="row">
		<div class="image-background">
			<div class="hero">	
				<div class="logo-header">
					<h1>
						Doc Doc, Who's there?
					</h1>
				</div>

				<div class="search-bar-box">
					<form action="/specialists">
						<input class="js-search-bar" type="text" name="search-bar" placeholder="Search conditions">
					</form>
				</div>

				<div class="phrase">
					<em>
						Where to Go When It's Your Turn to Take Care of Them
					</em>
				</div>
			</div>
		</div>	
	</div>	
</div>	
