// Place all the styles related to the Forum_threads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-mail,
.subject-link {

	float: right;
}



.thread-list {
	border: 3px solid black;
	background-color: #faf0e6;
	font-size:1.5em;
}

.current-threads {
	font-size: 2.5em;
}

.page-head {
	font-family: Georgia, serif;
	font-size: 3em;
	text-align: center;
}

.subject {
	border: 2px solid black;
	padding: 7px;
}

.subject-text {
	color: black;
}

.user-email {
	font-size: 0.7	em;
}

.time-thread-made {
	float: right;
	
}