<h1>Doc Doc, who's there Forum</h1>

<a href="/forum_threads/new">Create a new subject</a>

<div class="current_threads">
	Current threads:
</div>
<ul>
	<% @thread_list.each do | th | %>
		<li class="thread_list">
			<a href="/forum_threads/<%=th.id%>" >
				<%=th.subject %>
			</a>
		</li>
	<%end%>
	<a href="/forum_threads/"></a>
</ul>