<h1 class="page-head">Doc Doc Forum</h1>

<% if user_signed_in? %>
<div class="user-mail">
	Welcome <%= @user.email %>
</div>
<br>
<% end %>

<div>
	<a href="/forum_threads/new" class="subject-link" role="button">
		New Subject
	</a>
</div>

<div class="current-threads">
	Current threads:
</div>
<ul class="thread-list">
	<% @thread_list.each do | th | %>
		<li class="thread_list">
			<a href="/forum_threads/<%=th.id%>/" >
				<%=th.subject %>
			</a>
		</li>
	<%end%>
</ul>